<%- include('partials/header', {title:title}) %>

<main>
  <h2>Home page</h2>

  <section>
    <h3>Folders:</h3>
    <div id="folder-list">
      <% if (locals.folders.length===0) { %>
      <p>No Folders</p>
      <% } %>
      <% locals.folders.forEach(folder => { %>
      <a href="/folder/<%= folder.id %>">
        <%- include('partials/folderCard', { folder: folder }) %>
      </a>
      <% }) %>
    </div>
    <h3>All Files:</h3>
    <div id="file-list">
      <% if (files.length===0) { %>
      <p>No Files</p>
      <% } %>
      <% files.forEach(file => { %>
      <a href="/file/<%= file.id %>">
        <%- include('partials/fileCard', { file: file }) %>
      </a>
      <% }) %>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
